@import "../../node_modules/sanitize.css/lib/sanitize.scss";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../../node_modules/susy/sass/susy";

// Fonts
$sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
$serif:      Georgia, Times, 'Times New Roman', serif;
$headings:    'Lato', $sans-serif;
$monospace:  'Source Code Pro', Consolas, 'Courier New', monospace;

//Sanitize.scss overrides
//Root
$root-box-sizing: border-box;
$root-cursor: default;
$root-font-family: $sans-serif;
$root-font-size: 100%;
$root-line-height: 1.45;
$root-text-rendering: optimizeLegibility;

//More
$anchor-text-decoration:        none;
$form-element-background-color: transparent;
$form-element-min-height:       if(unitless($root-line-height), $root-line-height * 1em, if(unit($root-line-height) != '%', $root-line-height, null));
$media-element-vertical-align:  middle;
$monospace-font-family:         $monospace;
$nav-list-style:                none;
$selection-background-color:    #b3d4fc;
$selection-text-shadow:         none;
$small-font-size:               74.2%;
$big-font-size:                 148.4%;
$table-border-collapse:         collapse;
$table-border-spacing:          0;
$textarea-resize:               vertical;

// Breakpoints (Values from bootstrap 4)
$phone-ls: 34rem;
$tablet: 48rem;
$desktop: 62rem;
$extra-wide: 75rem;

//Susy
$susy: (
  columns: 4,
  container: 46rem,
  container-position: center,
  gutters: .25,
  gutter-position: after,
  global-box-sizing: border-box,
  debug: (image: hide)
);

@include border-box-sizing;

//Colors
$font-color-main: #000000;
$bkgr-color-main: #ffffff;

//Links
$anchor-color: #2980b9;
$anchor-hover: darken($anchor-color, 15%);

//Typography
$font-size-h1:    2.969em;
$font-size-h2:    2em;
$font-size-large: 1.484em;
$font-size-base:  1em;
$font-size-small: .742em;

//Mixins

@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centre-first ($pos:left) {
  @include span(100%);
  text-align: center;
  @include breakpoint($phone-ls) {
    @if $pos == "right" {
      @include span(6 of 12 last);
    } @else if $pos == "left" {
      @include span(6 of 12);
    }
    text-align: $pos;
  }
}

//Styles

.wrapper {
  @include container;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

a,
a:link,
a:active,
a:visited {
  color: $anchor-color;
}

a:hover {
  color: $anchor-hover;
}

h1 {
  font-size: $font-size-h1;
}

header,
main,
section,
footer {
  margin-top: 1.4rem;
}

header {
  h1, p {
    text-align: center;
    @include breakpoint($phone-ls) {
      text-align: left;
    }
  }
}

.content {
  font-size: $font-size-base;
  p,
  h2 {
    margin-top: 1.4em;
  }
  h1 {
    font-size: $font-size-h2;
  }
  h2 {
    font-size: $font-size-large;
  }
}

.nav {
  @include centre-first;
}

.nav__list > li {
  font-size: $font-size-large;
  line-height: 2;
  border-bottom: 1px solid rgba(0,0,0,.12);
  @include breakpoint($phone-ls) {
    font-size: $root-font-size;
    display: inline-block;
    border-bottom: 0;
    padding-right: 1em;
    &:last-child {
      padding-right: 0;
    }
  }
}

.nav__item--selected {
  font-weight: bold;
}

.social {
  @include centre-first(right);
  .nav__list > li {
    display: inline-block;
    border-bottom: 0;
  }
  .nav__item {
    font-size: $font-size-large;
    padding-right: .3em;
  }
}

.footer {
  @include cf;
  line-height: 2rem;
  .license {
    @include centre-first;
    font-size: $font-size-small;
  }
}
