<ul>
  <% for (var slug in public.posts._data) { %>
    <% var post = public.posts._data[slug]; %>
    <% if (slug !== "index" && post.published !== false) { %>
      <li>
        <a href='/posts/<%= slug %>'><%= post.title %></a>
      </li>
    <% } %>
  <% } %>
</ul>
