<nav class="nav">
  <ul class="nav__list">
    <li><a class="nav__item<%= current.source == 'about' ? ' nav__item--selected' : '' %>" href="/about">About</a></li>
    <li><a class="nav__item<%= current.path[0] == 'blog' ? ' nav__item--selected' : '' %>" href="/blog">Blog</a></li>
    <li><a class="nav__item<%= current.source == 'portfolio' ? ' nav__item--selected' : '' %>"href="/portfolio">Portfolio</a></li>
  </ul>
</nav>
