<div class='social'>
  <ul class='nav__list'>
    <li class='nav__item'><a href='//twitter.com/<%= social.twitter %>' target='_blank'><i class='fa fa-twitter'></i></a></li>
    <li class='nav__item'><a href='//github.com/<%= social.github %>' target='_blank'><i class='fa fa-github'></i></a></li>
    <li class='nav__item'><a href='//codepen.io/<%= social.codepen %>' target='_blank'><i class='fa fa-codepen'></i></a></li>
    <li class='nav__item'><a href='//www.linkedin.com/in/<%= social.linkedin %>' target='_blank'><i class='fa fa-linkedin-square'></i></a></li>
  </ul>
</div>
